*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    color: white;
    position: relative;
    top: 10px;
}
.footer img:hover{
    opacity: .5;
    }
.footer img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 688px;
}
body{
    background-image: url("../img/info.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2195px;
}
nav{
    background: #434343;
    height: 50px;
    width: 100%;
    position: absolute;
    
}
nav img{
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    bottom:30px;
}
ul{
    list-style: none;
    position: fixed;
    top: 50px;
}
.primera > li{
    float:left;
}
.primera li a{
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}
.primera li a:hover{
    background-color: #434343;
}
.primera li a:active{
    background-color: red;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table,td,th{
    border: 2px solid black;   
    background-color: #E8F5EC ;
}
th,td{
    height: 50px;
    text-align: center;
}
th{
    background-color: #73E35A;
}
td{
    color: red;
}
.primera li ul{
    display:none;
    position: absolute;
}
.primera li:active >ul{
    display: block;
    position: absolute;
    top:200px;
    left: 500px;
    
}
